 <!-- <app-form></app-form> -->
 
 <app-stdform></app-stdform> 
<!-- <hr> -->
  <!-- <app-simpletemplet></app-simpletemplet>   -->

<!-- <app-comp1></app-comp1> -->
<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ngclass></app-ngclass>
<app-ngstyle></app-ngstyle>
 <app-ngfor1></app-ngfor1>  -->
 <!-- <p appCustdir> normal para</p> -->
 <!-- <app-child (childOutput)="GetValueFromChild($event)"></app-child> -->
 

 <!-- <app-child [data]="fromParenttochild" (childOutput)="test"></app-child> --> -->
 <!-- <input type="text" placeholder="Input here..." #val>
<button (click)="submitValue(val)" >SubmitValue</button>
<app-lifecyclehooks *ngIf="isShow" [data]="value" >
  This is from child content
  
</app-lifecyclehooks>

<button (click)="OnDestory()" class="btn btn-dan -->

 
<!-- 
<app-comp3></app-comp3>
<app-comp1></app-comp1> -->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>

 <app-comp2></app-comp2> -->
<!-- *ngif directive -->
<!-- <p *ngIf="condition">
  condition true add element into DOM

</p>
<p *ngIf="!condition">
  condition false and remove element from DOM
</p> --> 
<!-- <app-ngfor></app-ngfor>  -->
<!-- <app-ngswitch></app-ngswitch> -->
<router-outlet></router-outlet>
<!-- <button class="btn btn-primary">Bootstrap</button> -->