<div class="row">
    <div class="col-md-8">
        
        <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/image/laptop.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="laptop" class="btn btn-primary">Go to laptop</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/image/tablet.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tablet</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="mobile" class="btn btn-primary">Go to tablet</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/image/tv.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">TV </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tv" class="btn btn-primary">Go to tv</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" width="30px" src="../../assets/image/washingmachine.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Washing Machine</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="washingMachine" class="btn btn-primary">Go to washing machine</a>
            </div>
          </div>
    </div>

     <div class="col-md-4">
        <div>
            <router-outlet></router-outlet> 
         </div> 
     </div> 
</div>